#ContactDiv {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(transparent, rgb(40, 40, 40) 80%);
}

.ContactItem {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 600px) {
    #ContactDiv {
        flex-direction: column;
        text-align: center;
    }
}