#EducationHeader {
    width: 100vw;
    height: 50vh;
    align-items: center;
}

#EducationHeaderInnerDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 12.5vh;
    height: fit-content;
    margin-left: 25vw;
    background-color: rgb(40, 40, 40);
    align-items: center;
}

#EducationHeaderInnerText {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#EducationBaylor {
    background-image: url('../Images/EducationBaylor.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
}

#EducationVirginiaTech {
    background-image: url('../Images/EducationVirginiaTech.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
}

.EducationInnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: fit-content;
    padding-bottom: 5vh;
    background-color: rgb(40, 40, 40);
}

.EducationalInstitutionName {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

.EducationalInstitutionSubField {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}