#ExperienceSegmentHeader {
    width: 100vw;
    height: 50vh;
    align-content: center;
}

.ExperienceSegmentInnerDiv {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-top: 12.5vh;
    height: fit-content;
    margin-left: 12.5vw;
    background-color: rgb(40, 40, 40);
    align-items: center;
    margin-bottom: 10vh;
}

#ExperienceHeaderText {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#ExperienceDescriptionSegmentContainerPeraton {
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    background-image: url("../Images/PeratonExperienceBackground.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExperienceDescriptionSegment {
    width: 75vw;
    height: fit-content;
    display: flex;
    padding: 0vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

@media (hover:hover) {
    .ExperienceDescriptionSegment {
        padding: 5vh;
    }
}

.ExperienceCompanyLogo {
    width: 35%;
    height: 35%;
    float: left;
}

.ExperienceDescription {
    margin-left: 5vh;
}

.ExperienceCompanyText {
    color: white;
    font-size: .75rem;
}

@media (hover:hover) {
    .ExperienceCompanyText {
        font-size: 1rem;
    }
}